# ==========================================
# 1. VCS Compilation & Simulation (컴파일 및 시뮬레이션 찌꺼기)
# ==========================================
simv
simv.daidir/
simv.*
csrc/
*.log
*.key
vc_hdrs.h

# ==========================================
# 2. Waveforms & Debugging Tools (Verdi, DVE 파형 및 설정)
# ==========================================
*.fsdb
*.vpd
*.vcd
verdiLog/
DVEfiles/
novas.rc
novas.conf
novas_dump.log

# ==========================================
# 3. Coverage & Reports (커버리지 및 리포트 데이터)
# ==========================================
*.vdb
urgReport/
*.rpt

# ==========================================
# 4. OS & Editor Temp Files (리눅스/빔 에디터 임시 파일)
# ==========================================
*.swp
*~
.DS_Store

